/* global.css */
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.DropDownShadow {
  box-shadow: -4px 6px 100px 2px #0000001a;
}
.beforsticky {
  z-index: 100;
}
.sticky {
  position: fixed;
  top: 80px;
  width: calc(100% - 264px);
  background-color: #fdf8fd;
  padding: 8px;
}
.fixed-scroll {
  position: fixed;
  top: 150px;
  left: 60px;
  width: 500px;
  z-index: 7500; /* Adjust based on your layout */
}

.original-position {
  position: relative;
}

/* calender styles */
.rbc-event,
.rbc-day-slot .rbc-background-event {
  padding: 2px 5px;
  background-color: #eaf6ff !important;
  border-radius: 5px;
  color: #00c1a1;
  cursor: pointer;
  width: 100%;
  text-align: right !important;
}
.rbc-row {
  max-height: fit-content !important;
}
.rbc-row-segment {
  max-height: fit-content !important;
}
