/* global.css */
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.DropDownShadow {
  box-shadow: -4px 6px 100px 2px #0000001a;
}
.beforsticky {
  z-index: 100;
}
.sticky {
  position: fixed;
  top: 80px;
  right: 70px;
  z-index: 999;
  padding: 5px 10px;
  padding-right: 210px;
  width: 1500px;
  background-color: #fdf8fd;
  padding: 8px;
}
.fixed-scroll {
  position: fixed;
  top: 150px;
  left: 60px;
  width: 500px;
  z-index: 500; /* Adjust based on your layout */
}

.original-position {
  position: relative;
}

/* calender styles */
.rbc-event,
.rbc-day-slot .rbc-background-event {
  padding: 2px 5px;
  background-color: #eaf6ff !important;
  border-radius: 5px;
  color: #00c1a1;
  cursor: pointer;
  width: 100%;
  text-align: right !important;
}
.rbc-row {
  max-height: fit-content !important;
}
.rbc-row-segment {
  max-height: fit-content !important;
}
/* Cutorm calendar for bst10 */
.custom-calendar {
  width: 400px;
  border: none;
  border-radius: 32px;
  padding: 30px 0;
  overflow: hidden;
  background-color: #f4f7f3;
  font-family: "Arial", sans-serif;
}
.react-datepicker__header {
  background-color: #f4f7f3;
  border-bottom: none;
}
.react-datepicker__current-month {
  font-size: 20px;
  color: #191c1b;
  font-weight: 600;
  margin-bottom: 30px !important;
}
.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  top: 32px;
}
.react-datepicker__month-container {
  width: -webkit-fill-available;
}
.custom-calendar .react-datepicker__day--selected {
  background-color: #007bff !important;
  color: #fff !important;
}

.custom-calendar .selected-date {
  background-color: #00c1a1 !important;
  border-radius: 100%;
  color: #fff !important;
}

.custom-calendar .react-datepicker__day {
  border-radius: 100%;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 2.8rem;
  padding-top: 9px;
  text-align: center;
  height: 2.8rem;
  font-size: 16px;
}
.react-datepicker__day--outside-month {
  color: #191c1b7c;
}
.otp_container > div {
  flex-direction: row-reverse;
}
